*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(118, 167, 29, 0.268);
    font-family: 'Oxygen', sans-serif;
   }
   #social{
       background-color: black;
       color: blue;
       height: 55px;
       width: 100%;
       position: sticky;
       top: 0;
       z-index: 1;
       font-size: 18px;
       text-align:right;
       padding: 15px;
       
   }

   font{
       float:left;
       letter-spacing:2px;
   }
   span{
       font-size: 12px;
       letter-spacing: 1px;
   }
   #social>i{
       margin-right:15px;
   }
   #social>i:hover{
    opacity : 0.8
   }
   #container
   {
       width:80%;
       margin: auto;
       height: auto;
   }
header{
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgb(52, 65, 107);
    margin-bottom: 10px;

}
#headerresim
 {
     width: 100%;
     height: 400px;
     opacity: 0.7;
     

 }   

#centered
{
    position: absolute;
    left: 40%;
}
   section
   {
       width: 100%;
       height: auto;
       background-color: #f1f1f1;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       margin-top: 30px;/*header ile section arasına mesafe*/
       overflow: auto;/*nav'ı section içerisine sığdıracak*/
   } 
   nav
   {
       width: 20%;/*İçerisinde bulumduğu etiketin yüzde yirmisini kaplasın*/
       float: left;/*kendinden sonra gelecek içerik yanına doğru gelsin*/
       margin-top: 10px;/*üstten boşuk*/
       height: auto;
   }
   nav ul
   {
       width:auto;
       height: 100%;
       margin: 0;/*boşluk=0 her taraftan*/
       padding: 0;

   }
   nav li{
       list-style-type: none;

   }
   nav li a{/*etikete şekil veriyoruz*/
        height: 50px;
        line-height: 50px;
        text-decoration: none;/*alttaki çizgiyi kaldırak*/
        color:black;
        border-bottom: 1px solid #b4b4b4;
        padding-left: 20px;
        display: block;/**/

   }
   nav li a:hover{/*etiket üzerine gelindiğinde
    renk değişsin istiyorum*/
       color: white;
       background-color: violet;
   }
   i{
       margin-right: 10px;
   }
   main{
       float: left;
       height: auto;
       width: 80%;
       padding: 20px;
   }
   .icerik{
       width: 50px;
       height: auto;
       display: inline-block;
       margin-right: 300px;
       margin-left: 40px;
       border-radius:10px;
       
   }
   .rsm{
       border-radius: 10px;
       margin: 10px;
       transition: opacity 0.8s;
   }
   .rsm:hover{
       opacity: 0.8;
   }
   h5{
       margin: 10px;
       color: violet;
   }
   .icerikText{
       margin: 10px;
       color: dimgray;
   }
   .btnDevam:link{
       display: block;
       width: 150px;
       height: 45px;
       padding: 10px 20px;
       background-color:rgb(157, 83, 83);
       color: ivory;
       text-decoration: none;
       margin: 10px;
       border-radius: 5px;
   }
   .btnDevam:hover{
       opacity: 0.9;
       color: violet;
   }
   footer{
       width: 100%;
       height: 60px;
       background-color: black;
       color: white;
       line-height: 75px;
       text-align: center;
   }
